.flexbox-card-block {
  padding: 20px; 
  border-radius: 2px;
  border: 1px solid #d6d6d6;
  background-color: #f1f1f1;
  justify-content: start !important;
  align-items: start !important;
  flex-wrap: wrap !important;
}

.flexbox-card-block--items {
  max-width: 45% !important;
}

.flexbox-card-block--image {
  max-height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.flexbox-card-block--image-btn {
  display: inline-block;
}

.flexbox-card-block--button {
  display: block;
  margin: 10px auto 20px auto;
}